In [ ]:
print("Olá mundo!")

Olá mundo!

Tipos de dados em python
- inteiro
- real
- texto
- booleano

In [2]:
quantidade = 20
nota = 8.5
nome = "igor Ádrian"
maiorIdade = True

Formas de comentar em Python

In [ ]:
# Comentário em uma linha

"""
Comentário
em várias
linhas
"""

'''
outra forma de
comentário em várias linhas
'''

In [10]:
# Entrada de dados

'''
a função input serve para entrada de dados e sempre
retorna TEXTO
'''

nome = input("Digite seu nome: ")
print(nome)

idade = int(input("Digite sua idade: "))
print("A sua idade é", idade)

Digite seu nome: Igor Ádrian
Igor Ádrian
Digite sua idade: 19
A sua idade é 19

In [12]:
nota = float(input("Digite a sua nota: "))
print("Nota: ", nota)

Digite a sua nota: 8.5
Nota:  8.5

In [19]:
'''
Peça para o usuário digitar dois números
inteiros, ao final o programa deve imprimir a média entre eles
'''

numero1 = int(input("Digite o primeiro número inteiro: "))
numero2 = int(input("Digite o segundo número inteiro: "))
media = (numero1+numero2)/2
print("A média", media)

Digite o primeiro número inteiro: 2
Digite o segundo número inteiro: 7
A média 4.5

In [21]:
'''
exitem operadores aritméticos novos, são eles:
// divisão de inteiros
** Potenciação
'''

print(10//3)
print(10/3) # divisão normal
print(2**3)

3
3.3333333333333335
8

In [24]:
'''
Operadores condicionais/comparação

compara 2 valores e
SEMPRE RETORNAM VALOR BOOLEANO
'''

print(5>4)
print(10<15)
print(10<10)
print(10<=10)
print(15==5)
print(7!=2)

True
True
False
True
False
True

In [ ]:
'''
Operadores lógicos

servem para comparar valores lógicos
e retornam valores lógicos/booleanos
'''

print( (10>5) and (10 !=5) ) # e  (só é verdade se as duas forem verdadeira)
print( (10>5) or (10 !=5) )  # ou (só é verdade se pelo menos uma for verdadeira)
print( not(10!=5) ) # inverte/nega um valor lógico (ex: "não True" = false)

In [28]:
'''
Estruturas condicionais

if         (se)
if...else  (se...caso contrário)
elif       (caso contrário se)

Estrutura:
if condição:
else:
elif condição:
'''

numero = -1
if numero > 0:
  print("positivo")
elif numero == 0:
  print("neutro")
else:
  print("negativo")

negativo

In [29]:
'''
Lista de dados
Armazena em uma variável vários valores
ao mesmo tempo
Utiliza colchetes []
'''

numeros = [5, 2, 10, -2]
notas = [8.5, 4.3]
aceite = [True, False, False, True]
nomes = ["Igor", "Ádrian", "Bruno"]
misturada = [5, 10.4, True, "Igor"]

# a posição dos elementos se chama índice (obs: os índices começam do número 0)

print(nomes[1]) # imprimindo o nome "Igor" que está na lista 'nomes'

Ádrian

In [39]:
'''
Repetição

Sempre utilizo listas
'''

for (numero) in [1, 2, 3, 4, 5]:
  print(numero)

# com range
print("Com range:")

for (numero) in range(5): # Começa do 0
  print(numero)

for (numero) in range(5, 10): # Começa do 5
  print(numero)

1
2
3
4
5
Com range:
0
1
2
3
4
5
6
7
8
9

In [40]:
for numero in range(1, 10, 2): # o terceiro valor significa incremento, ou seja: aqui vamos pular de 2 em 2
  print(numero)

1
3
5
7
9

In [1]:
'''
Função

útil para evitar reescrever código
'''

# Função vazia
def nome():
  pass

# Função sem retorno e sem parâmetros
def campus():
  print("Canguaretama")

campus() # chamando a função 'campus'

# Função sem retorno e com parâmetro
def instituto(nome):
  print(nome)

instituto("IFRN")  # chamando a função 'instituto' com o parâmetro 'nome' recebendo o valor "IFRN"

# Função com retorno e sem parâmetro
def curso():
  return "TSI"

print(curso()) # printa o valor que a função 'curso' retorna

# Função com argumentos nomeados
def login(usuario, senha, permissao):
  print(usuario,"",senha,"",permissao)

login("Bruno", "123", "1")
login(senha="567", usuario="Igor", permissao="2")

# Função com argumentos "predefinidos" ou "default"
def login(usuario = "Admin", senha = "891", permissao="1"):
  print(usuario,"",senha,"",permissao)

login()

Canguaretama
IFRN
TSI
Bruno  123  1
Igor  567  2
Admin  891  1